name: Release (Manually)

on:
  workflow_dispatch:  

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: echo "The release process will be triggered."